body {
    padding: 0;
    margin: 0;
    background-color: #e6e6e6;
}

div.center {
    margin: 0 auto;
}

#topBar {
    background-color: #5182ff;
    height: 60px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

#topBar > span {
    padding-left: 20px;
    cursor: pointer;
}

#topBar h1 {
    margin: 0;
}

.topBarElement {
    color: #FFF;
    font-size: 2em;
}

.feedManager {
    display: grid;
    grid-template-columns: 1fr repeat(3, 400px) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
}

ul.feed {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}

.column0 {
    grid-column: 2/3;
}

.column1 {
    grid-column: 3/4;
}

.column2 {
    grid-column: 4/5;
}

.tweet {
    padding: 10px;
    background-color: #fff;
    border-top: 2px solid #e6e6e6;
    cursor: pointer;
    box-sizing: border-box;
    height: 105px;
}

.tweet:hover {
    background-color: #f2f2f2;
}

.tweet > span {
    margin-right: 5px;
}

.tweet > .name {
    font-weight: bold;
}

.tweet > .time:before {
    content: "\00b7";
    margin-right: 5px;
}

.tweet > p {
    margin: 5px 0 0 0;
}

.muted {
    color: #808080;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .feedManager {
    padding-top: 60px;
}
