body {
    padding: 0;
    margin: 0;
    background-color: #e6e6e6;
}

div.center {
    margin: 0 auto;
}

button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.button {
    background-color: #5182ff;
    color: #FFF;
    font-size: 1.2em;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #5182ff;
}

.button:hover {
    background-color: #111;
    color: #5182ff;
}

.button:active {
    background-color: #5182ff;
    color: #FFF;
}

.applyButton {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

#mainContent {
    transition: margin-left 0.5s;
    padding-top: 60px;
}

#settingsPanel {
    height: 100%;
    width: 0;
    color: #808080;
    padding-top: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #111;
    transition: width 0.5s;
}

#settingsPanel > .settingsSection {
    box-sizing: border-box;
    width: 300px;
    padding-left: 30px;
}

#settingsPanel > .closeButton {
    color: #808080;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 2em;
}

#settingsPanel .settingsTittle {
    font-size: 1.5em;
}

#settingsPanel .settingsItem {
    padding-top: 10px;
    padding-right: 20px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin: 5px 0 0 0;
    outline: none;
    background: #404040;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #5182ff;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: #5182ff;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#topBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #5182ff;
    height: 60px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

#topBar > button {
    padding-left: 20px;
}

#topBar h1 {
    margin: 0;
}

.topBarElement {
    color: #FFF;
    font-size: 2em;
}

.feedManager {
    display: grid;
    grid-template-columns: 1fr repeat(3, 400px) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
}

ul.feed {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}

.column0 {
    grid-column: 2/3;
}

.column1 {
    grid-column: 3/4;
}

.column2 {
    grid-column: 4/5;
}

.tweet {
    padding: 10px;
    background-color: #fff;
    border-top: 2px solid #e6e6e6;
    cursor: pointer;
    box-sizing: border-box;
    height: 105px;
}

.tweet:hover {
    background-color: #f2f2f2;
}

.tweet > span {
    margin-right: 5px;
}

.tweet > .name {
    font-weight: bold;
}

.tweet > .time:before {
    content: "\00b7";
    margin-right: 5px;
}

.tweet > p {
    margin: 5px 0 0 0;
}

.muted {
    color: #808080;
}
