:root {
    --main-color: #5182ff;
    --main-text-color: #ffffff;
    --secondary-color: #111111;
    --secondary-text-color: #808080;
    --secondary-subcolor: #404040;
    --secondary-text-subcolor: #cccccc;
    --background-color: #e6e6e6;
    --background-highlight-color: #f2f2f2;
    --background-contrast-color: #ffffff;
    --warning-color: #cccc00;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

div.center {
    margin: 0 auto;
}

button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.button {
    background-color: var(--main-color);
    color: var(--main-text-color);
    font-size: 1.2em;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid var(--main-color);
}

.settingsButton {
    background-color: var(--secondary-subcolor);
    color: var(--secondary-text-subcolor);
    height: 25px;
    width: 100px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border: 2px solid var(--secondary-subcolor);
}

.settingsButton:hover {
    background-color: var(--secondary-color);
}

.settingsButton:active {
    background-color: var(--secondary-subcolor);
    color: var(--secondary-text-subcolor);
}

.button:hover {
    color: var(--main-color);
}

.button:active {
    background-color: var(--main-color);
    color: var(--main-text-color);
}

.applyButton {
    margin-top: 20px;
    float: right;
}

.applyButton:hover {
    background-color: var(--secondary-color);
}

#mainContent {
    transition: margin-left 0.5s;
    padding-top: 60px;
}

#settingsPanel {
    height: 100%;
    width: 0;
    color: var(--secondary-text-color);
    padding-top: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: var(--secondary-color);
    transition: width 0.5s;
}

#settingsPanel > .settingsSection {
    box-sizing: border-box;
    width: 300px;
    padding-left: 25px;
    padding-right: 25px;
}

#settingsPanel > .closeButton {
    color: var(--secondary-text-color);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 2em;
}

#settingsPanel .settingsTittle {
    font-size: 1.5em;
}

#settingsPanel .settingsItem {
    padding-top: 15px;
}

#settingsPanel .settingsItem p {
    margin: 0;
}

#settingsPanel .screenNameInput {
    box-sizing: border-box;
    width: 100%;
    border-width: 0;
    margin-top: 5px;
    background-color: var(--secondary-subcolor);
    padding: 3px 5px;
    color: var(--secondary-text-subcolor);
    outline: none;
}

#settingsPanel .textInputWarning {
    visibility: hidden;
    color: var(--warning-color);
    position: absolute;
    right: 31px;
    padding-top: 4px;
}

#settingsPanel .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin: 5px 0 0 0;
    outline: none;
    background: var(--secondary-subcolor);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--main-color);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: var(--main-color);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#topBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--main-color);
    height: 60px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

#topBar > button {
    padding-left: 20px;
}

#topBar h1 {
    margin: 0;
}

.topBarElement {
    color: var(--main-text-color);
    font-size: 2em;
}

.feedManager {
    display: grid;
    grid-template-columns: 1fr repeat(3, 400px) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
}

ul.feed {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
}

.column0 {
    grid-column: 2/3;
}

.column1 {
    grid-column: 3/4;
}

.column2 {
    grid-column: 4/5;
}

.tweet {
    padding: 10px;
    background-color: var(--background-contrast-color);
    border-top: 2px solid var(--background-color);
    cursor: pointer;
    box-sizing: border-box;
    height: 130px;
    display: flex;
    flex-flow: row nowrap;
}

.tweet:hover {
    background-color: var(--background-highlight-color);
}

.tweet > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
    flex: 0 0 auto;
}

.tweet span {
    margin-right: 5px;
}

.tweet .name {
    font-weight: bold;
}

.tweet .time:before {
    content: "\00b7";
    margin-right: 5px;
}

.tweet p {
    margin: 5px 0 0 0;
}

.toast {
    color: var(--secondary-text-color);
}

.muted {
    color: #808080;
}
